workflows/[API Oficial] - Disparo em Massa - pré-matricula - parte 2.json
{
  "active": false,
  "connections": {
    "ler_planilha": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "variaveis_evolution1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "insere_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "excluir_enviados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_telefone": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_lista": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_status": {
      "main": [
        [
          {
            "node": "3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis_evolution1": {
      "main": [
        [
          {
            "node": "ler_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "excluir_enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "atualiza_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [],
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "puxa_lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15hrs": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-10T17:28:12.441Z",
  "id": "IjZIIepsN4KQGHWq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[API Oficial] - Disparo em Massa - pré-matricula - parte 2",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nAFIXlkiH4yGxM708uwvxdz5Lxrr3E-i5NTu9i-3o_E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 358885653,
          "mode": "list",
          "cachedResultName": "proxima-turma-20-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nAFIXlkiH4yGxM708uwvxdz5Lxrr3E-i5NTu9i-3o_E/edit#gid=358885653"
        },
        "options": {}
      },
      "id": "5f486916-35fb-44b7-9f2e-6a55ee46a957",
      "name": "ler_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -860,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "exoLmMi20kOraoEG",
          "name": "[Google Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "36a38ff8-7417-4a27-81c9-bc6a37f0c463",
      "name": "separa_em_linhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -660,
        480
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "numero_notificacao",
              "stringValue": "+5562981196678"
            },
            {
              "name": "nome_responsavel",
              "stringValue": "Mateus Diniz"
            }
          ]
        },
        "options": {}
      },
      "id": "3ed13905-acae-425b-8a87-949bca7a43fc",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1220,
        480
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "babfd92f-b64e-48b2-9a57-7157d43ecdb2",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        400,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_linhas\"].json[\"Número de telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "57b8912c-da79-4c67-93f2-5dfa4ff14577",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e9de285-a895-49ac-af29-0fc7c43077ac",
      "name": "separa_em_linhas1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        180,
        420
      ]
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "deleteCommand": "delete",
        "options": {}
      },
      "id": "4cc8d50d-8219-41e8-92c6-d9d2f5923716",
      "name": "excluir_enviados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1400,
        480
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"separa_em_linhas\"].json[\"Nome\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7ef895ec-a5d3-49d7-92b9-f87daae3afb3",
      "name": "insere_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -220,
        560
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "returnAll": true,
        "combineConditions": "OR",
        "options": {}
      },
      "id": "ce2a71ce-3057-492c-8aa9-0ad7fe7e2e3e",
      "name": "puxa_lista",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -220,
        400
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status",
              "value": "enviado"
            }
          ]
        },
        "options": {}
      },
      "id": "84dcfb15-cc3e-45f8-b11e-477cf3163dfa",
      "name": "atualiza_status",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        580,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "92dce043-7b76-4539-b5a2-2a977f1ac998",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -420,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "dpt5jlcem2fzana4jw5x8"
            },
            {
              "name": "nome_da_instancia",
              "value": "PaulaArdanza"
            },
            {
              "name": "nome_evento"
            },
            {
              "name": "link_do_audio"
            }
          ]
        },
        "options": {}
      },
      "id": "f0dfe1fd-abc6-4af2-9726-c3e28ac11e84",
      "name": "variaveis_evolution1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1040,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "value2": "11/07/2024"
            }
          ]
        }
      },
      "id": "61da14c5-5724-4c62-b28c-a8919104ad04",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1600,
        500
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "211bb0eb-1d60-45c9-92c2-03de376dd829",
      "name": "3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        780,
        500
      ],
      "webhookId": "035d743f-d5c7-439b-9c0b-fcba5b0fb2b5"
    },
    {
      "parameters": {
        "phoneNumberId": "300708243128017",
        "recipientPhoneNumber": "=+{{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}",
        "template": "lc_07_2024_convite_prematricula|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $node[\"separa_em_linhas1\"].json[\"nome\"].split(' ')[0] }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "1a8da6a0-84af-4800-ab54-d375e59608ab",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        400,
        500
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "uWn3sWudgapENreU",
          "name": "[API Oficial WhatsApp] - Diego Rosa"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "value2": "enviado"
            }
          ]
        }
      },
      "id": "7983dd19-0a9a-4f82-a575-050a58aacef0",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -40,
        400
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "300708243128017",
        "recipientPhoneNumber": "={{ $node[\"dados\"].json[\"numero_notificacao\"] }}",
        "template": "disparo_concluido|pt_BR"
      },
      "id": "5ce4444d-7c1c-4409-ab7f-8626bc2d9505",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        320
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "uWn3sWudgapENreU",
          "name": "[API Oficial WhatsApp] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 15
            }
          ]
        }
      },
      "id": "6440f0c5-9e1f-40f9-a4bd-26fd12b5dea0",
      "name": "15hrs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1760,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "W42KfN49FgPKHRvQ",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": {
    "node:15hrs": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-19T13:43:07.653Z",
  "versionId": "97392737-6bae-4b10-83d5-e682c9e663ed"
}