workflows/[WhatsApp API Oficial] - Disparo em massa.json
{
  "active": false,
  "connections": {
    "ler_planilha": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "notifica_responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "variaveis_evolution1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "excluir_enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "insere_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [],
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "excluir_enviados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_telefone": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_lista": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "puxa_lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis_evolution1": {
      "main": [
        [
          {
            "node": "ler_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12hrs": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "atualiza_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_status": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T21:36:30.423Z",
  "id": "kP6ozIjzNBjc7x53",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[WhatsApp API Oficial] - Disparo em massa",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15S_cA5MQOu8UV47wc8E58zb8-Hnz3dulcS13_88PbME",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2001603963,
          "mode": "list",
          "cachedResultName": "Planilha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15S_cA5MQOu8UV47wc8E58zb8-Hnz3dulcS13_88PbME/edit#gid=2001603963"
        },
        "options": {}
      },
      "id": "b973bfd4-b289-4bc7-8560-f7ab2e58f2cf",
      "name": "ler_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -800,
        620
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "exoLmMi20kOraoEG",
          "name": "[Google Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8b07129e-ab56-4284-b0da-885f18217f04",
      "name": "separa_em_linhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -600,
        620
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"dados\"].json[\"numero_notificacao\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"dados\"].json[\"nome_responsavel\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"dados\"].json[\"nome_responsavel\"].split(' ')[1] ? $node[\"dados\"].json[\"nome_responsavel\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"dados\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        640,
        460
      ],
      "id": "0a7f2075-9a6e-4916-b43e-ba61106e3400",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "API-KEY"
            },
            {
              "name": "numero_notificacao",
              "stringValue": "+5562981196678"
            },
            {
              "name": "nome_responsavel",
              "stringValue": "Mateus Diniz"
            }
          ]
        },
        "options": {}
      },
      "id": "d4bceb67-d903-421b-a6da-9dbaaa42996e",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1160,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "value2": "15/05/2024"
            }
          ]
        }
      },
      "id": "a7a6c768-00bc-4496-ac7c-ac214519abcf",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1520,
        640
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "f6e5df90-a3f3-4776-84e9-c108ca28c1f7",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_linhas\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "f6279ea9-e9d0-4514-a4dc-f2d086531416",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        700
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "300708243128017",
        "recipientPhoneNumber": "=+{{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}",
        "template": "disparo_15_05_aula_hoje|pt_BR"
      },
      "id": "b139ff5f-0686-47ed-a1df-3732d80470ac",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        460,
        640
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "uWn3sWudgapENreU",
          "name": "[API Oficial WhatsApp] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "value2": "enviado"
            }
          ]
        }
      },
      "id": "28e6d954-a11a-4f25-9f1d-c60b1e35b972",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        20,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0605436-57a0-488f-a6aa-cf597549f936",
      "name": "separa_em_linhas1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        560
      ]
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "status",
              "value": "enviado"
            }
          ]
        },
        "options": {}
      },
      "id": "2b1f6ba6-36fb-4cdb-8f81-44bce4ead9bb",
      "name": "excluir_enviados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1340,
        620
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c00d2f5-f5e0-4071-9542-b1b83ea61f40",
      "name": "insere_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -160,
        700
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "returnAll": true,
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e7b637fa-78be-420d-a8af-9969aefba98b",
      "name": "puxa_lista",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -160,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status",
              "value": "enviado"
            }
          ]
        },
        "options": {}
      },
      "id": "be1c3cd5-b7ed-4b5b-80e5-7d0a4ac13685",
      "name": "atualiza_status",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        640,
        640
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "1db27b84-4322-4974-83a2-1def934e75f4",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -360,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=*🚨HOJE às 19h tem PLANTÃO TIRA DÚVIDAS FINANCEIRO com FÁBIO MONTERAZO󰜻🚨*\n.\n*Tema: Fluxo de Caixa 󰟜󰞎󰛺*\n.\n📌Separem as dúvidas por tema. Anotem para não esquecer!\n.\n📌Ao entrar na sala, levantem a mão nas reações para garantir a sua vez e tirar todas as dúvidas;\n.\n📌Coloquem despertador para não esquecer! ⏰\n.\nOlha o link do ZOOM: 👇\nhttps://us06web.zoom.us/j/85750135520?pwd=aHwr94iY9w6Z0khpjd47EqwPjFzyzS.1"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "785cfd0f-b54a-4bab-8053-ef7a9cfbc911",
      "name": "EnviaMensagemTexto5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        1080
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey"
            },
            {
              "name": "nome_da_instancia"
            },
            {
              "name": "nome_evento"
            },
            {
              "name": "link_do_audio"
            }
          ]
        },
        "options": {}
      },
      "id": "dbe42679-fb6f-4444-a121-fd2138dcf9d0",
      "name": "variaveis_evolution1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -980,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "fa7f1a82-0ca5-4eed-b2cb-cdf5581d6cbb",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1360,
        640
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "bc081091-9ce9-45eb-8236-6ad542213a09",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1540,
        640
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "d4b18fa8-e3fc-4813-91a3-c3ecbb47efb1",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        620
      ],
      "webhookId": "3ce1fb69-6ec5-478b-8e91-e9050e8467be"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "0b9ec953-e202-4e72-a42e-65c4c5688816",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        760
      ],
      "webhookId": "6cf9e399-ca8b-4baf-b78b-5b6722d5d0e2"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "9e252e6a-53a3-4147-a4af-c48ca391de63",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        900
      ],
      "webhookId": "285db937-ccd3-40d8-ba76-1860d6084794"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "4dde3a26-2e27-4c9c-b0b2-c7251fde58d3",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        1040
      ],
      "webhookId": "dbbc12fd-8524-4e52-95b0-b6ae8ba951cd"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "5e85b590-c6d4-450f-b044-2988f90a3c93",
      "name": "12hrs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1680,
        640
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"first_name\"] }}, o disparo em massa na Evolution foi finalizado."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"dados\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "notifica_responsavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        840,
        460
      ],
      "id": "c0a14ae3-9fe6-4f36-9a98-c45672603d8d",
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "fdee9f4d-55e4-4dd4-a343-72abe9645ee9",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        840,
        640
      ],
      "webhookId": "47e4324c-18ae-4dc4-acf8-88303fcf947f"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "W42KfN49FgPKHRvQ"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-15T20:35:35.474Z",
  "versionId": "ef4bee01-0357-4bce-8480-91bbcdbafdc7"
}