workflows/[API Oficial] - Disparo em Massa - 23/07 matricula.json
{
  "active": false,
  "connections": {
    "puxa_lista": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "puxa_lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4h30m": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-23T00:58:08.233Z",
  "id": "cM5GrZOcufXyHwyL",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[API Oficial] - Disparo em Massa - 23/07 matricula",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "returnAll": true,
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e9f84c2e-6175-4e79-ba62-ef19c132a004",
      "name": "puxa_lista",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -40,
        420
      ],
      "credentials": {
        "mySql": {
          "id": "OI4kAgzA41BNfgmQ",
          "name": "[MySQL] - Diego Rosa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "value2": "23/07/2024"
            }
          ]
        }
      },
      "id": "821cb4ee-c2d5-4e62-8c95-4f29f42d5a39",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -280,
        440
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "300708243128017",
        "recipientPhoneNumber": "=+{{ $node[\"puxa_lista\"].json[\"telefone\"] }}",
        "template": "23_07_novo_checkout|pt_BR"
      },
      "id": "214777a5-d9db-4037-bf47-ebac32f451a6",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        140,
        420
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "uWn3sWudgapENreU",
          "name": "[API Oficial WhatsApp] - Diego Rosa"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 7,
              "triggerAtMinute": 6
            }
          ]
        }
      },
      "id": "24b7e885-e725-438d-877d-90ec4e607d24",
      "name": "4h30m",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        440
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "W42KfN49FgPKHRvQ",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": {
    "node:15hrs": {
      "recurrencyRules": []
    },
    "node:4h30m": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-31T15:02:21.917Z",
  "versionId": "ff966477-e0e9-4c98-9a92-40151101c328"
}